<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dhoni</title>
</head>
<body>
    <center>
    <h1>this is ms dhoni is web page</h1>
    <a href="{% url 'csk:jadeja' %}">go to jadeja page</a><br>
    <img src="https://th.bing.com/th/id/OIP.Sv5TGk2d_wSEgg2so1jdagHaD3?pid=ImgDet&w=177&h=118&c=7" alt="">
    <a href="{% url 'rcb:virat' %}">go to virat page</a><br>
    <img src="https://th.bing.com/th/id/OIP.nr-SDMRkXDWT52K25z7N8wHaFj?pid=ImgDet&w=148.6875&h=180&c=7" alt="">
    <a href="{% url 'rcb:duplessis' %}">go to duplessis page</a><br>
    <img src="https://th.bing.com/th/id/OIP.SIg6Wi5J2oKhv7d0kiSl7wHaEF?pid=ImgDet&w=177&h=97.56209150326798&c=7" alt="">
</center>
</body>
</html>