<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jadeja</title>
</head>
<body>
    <center>
    <h1>this is jadeja web page</h1>
    <a href="{% url 'csk:dhoni' %}">go to dhoni page</a><br>
    <img src="https://th.bing.com/th/id/OIP.Sv5TGk2d_wSEgg2so1jdagHaD3?pid=ImgDet&w=177&h=118&c=7" alt="">
    <a href="{% url 'rcb:virat' %}">go to virat page</a><br>
    <img src="https://th.bing.com/th/id/OIP.D5or23xk6BdRk9Wzx2oMKgHaGa?pid=ImgDet&w=177&h=177&c=7" alt="">
    <a href="{% url 'rcb:duplessis' %}">go to duplessis page</a><br>
    <img src="https://th.bing.com/th/id/OIP.s8VXwCLX1cwRqI5aoDibsAHaE-?pid=ImgDet&w=177&h=118.88499999999999&c=7" alt="">
    </center>
</body>
</html>